<form action="/employee/create" method="post">
    <input type="text" name="name" placeholder="please type in your Name..." required>
    <input type="email" name="Email" placeholder="Please type in you email@domain.com..." required>
    <input type="password" name="password" placeholder="Please Create a Password" required>
    <input type="password" name="confirm_password" placeholder="Please confirm your passowrd" required>
    <input type="submit" value="Sign Up!">


</form>