a{
    text-decoration: none;
    padding: 8px 25px;
    background-color: rgb(0, 124, 232);
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    margin: 5px;
}
.sign-in-google {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 8px;
    height: 42px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px 0;
}
.sign-in-google > img {
    height: 18px;
    margin-right: 10px;
}