.forgot-password{
    text-decoration: none !important; 
    padding: 8px 25px !important;
    background-color: rgb(0, 124, 232) !important;
    color: white !important;
    margin-right: 10px !important;
    border-radius: 5px !important;
    margin: 5px !important;
}