<p>
    We received an account recovery request on The Career Hub for <%= token[1].employee.email  %>
This email address is associated with an account but no password is associated with it yet, so it can’t be used to log in.

If you initiated this request, <a href="https://career-hub-vcus.onrender.com/employee/reset-password/<%=token[1].accessToken%>">set a Password here</a>
</p>